body {
  top: 0px !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none !important;
}

.VIpgJd-ZVi9od-ORHb {
  display: none !important;
}

.VIpgJd-ZVi9od-aZ2wEe {
  display: none !important;
}

.VIpgJd-ZVi9od-aZ2wEe-OiiCO {
  display: none !important;
}

.VIpgJd-ZVi9od-aZ2wEe-OiiCO-ti6hGc {
  display: none !important;
}

.VIpgJd-suEOdc {
  display: none !important;
}

.VIpgJd-yAWNEb-L7lbkb {
  display: none !important;
}

.VIpgJd-ZVi9od-ORHb {
  display: none !important;
}

.VIpgJd-ZVi9od-ORHb table {
  display: none !important;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none !important;
}

.VIpgJd-ZVi9od-ORHb-KE6vqe {
  display: none !important;
}

#\3A 1\.container {
  display: none !important;
}

.goog-te-combo {
  width: 100%;
  height: 30px;
  border-radius: 5px !important;
  border: none !important;
}
.google_translation_dropdown {
  margin-top: 1rem;
}







.language-toggle {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.toggle-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.toggle-button.active {
  background-color: #007bff;
  color: white;
}

.toggle-button:hover {
  background-color: #e0e0e0;
}
/* .hide_tranlation{display: none;} */