.data-table-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin: 1.5rem;
  width: 97%;
}

.data-table {
  width: 95%;
  border-collapse: collapse;
  margin: 0 auto;
}

.data-table th,
.data-table td {
  border: 1px solid #dddddd !important;
  padding: 3px;
  font-size: 15px !important;
  text-align: center;
  width: max-content;
}

.data-table th {
  font-size: 20px;
  height: 40px;
}

.data-table th {
  text-align: left;

  text-align: center;
  width: max-content;

  /* border-radius: 5px; */
  color: #e11d48;
  background-color: transparent;
  font-size: 28px;
  border: none;
  padding: 5px;
}

.pagination button {
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #e11d48;
  font-size: 18px;
  padding: 10px;
  font-weight: 600;
}

.pagination span {
  color: black;
  font-size: 22px;
}

.pagination button:hover {
  cursor: pointer;
}
.dlt-btn:hover {
  cursor: pointer;
}

.pagination {
  display: flex;
  gap: 10px;
  align-items: center;
  position: fixed;
  bottom: 15px;
}

.data-table th {
  font-size: 20px;
  height: 40px;
}

.main-form {
  margin: 120px auto;
  height: 300px !important;
  /* border: 1px solid black; */
}

.form-container {
  background-color: #5e72e4;
  height: 375px;
  color: white;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  /* height: 50vh; */
  padding: 20px;
  width: 40%;
}

.form-container h2 {
  padding: 10px;
  height: 50px;
  text-align: center;
}
.form-container button {
  height: 45px;
}

.data-table th {
  text-align: left;
  text-align: center;
  background-color: rgb(236, 227, 227);
}

.data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-table tr:hover {
  background-color: #dddddd;
}

.entry-type,
.purpose-type,
.house-details,
.adhar-image,
.user-photo {
  max-width: 70px;
}

.delete-button button {
  height: 30px;
  width: max-content;
  border-radius: 5px;
  color: #e11d48;
  background-color: transparent;
  font-size: 28px;
  border: none;
  padding: 5px;
  font-size: 20px;
  font-weight: 450;
}

.s-page:hover {
  text-decoration: underline;
}

.s-page span {
  text-decoration: underline;
}

.logout {
  height: max-content;
  width: 100px;
  background-color: #e11d48;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

.three_circle_loader {
  margin-top: 3rem;
}

.preview_image {
  margin-left: 1rem;
  border: none;
}

.preview {
  border: none !important;
}

.data_not_avalible {
  font-size: 1.5rem !important;
  padding-top: 2rem;
}

.data_not h1 {
  font-size: 20px;
}

.request_user_heading {
  font-size: 1rem;
  padding: 1rem;
}

.export_btn_data {
  padding: 5px;
  background-color: #e11d48;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.heading-home {
  display: flex;
  width: 100%;
  position: relative;
  /* border: 1px solid black; */
}

.heading-home h2 {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
}

.request_heading {
  /* border: 1px solid black; */
  width: 100%;
  font-size: 20px;
}

.export_btn_div {
  width: max-content;
  /* border: 1px solid black; */
  height: 30px;
  position: absolute;
}

.MuiInputBase-root input {
  height: 15px;
}

.MuiInputBase-root input:focus {
  border: none;
  border-color: #000000;
}

.date-filter {
  display: flex;
  gap: 40px;
  width: max-content;
}

.search-boxes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  margin-bottom: 10px;
}

.export-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.css-1086bdv-MuiPaper-root-MuiAccordion-root {
  z-index: 100;
}
.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  z-index: 200;
}
.css-1086bdv-MuiPaper-root-MuiAccordion-root:first-of-type {
  height: max-content;
}
.error-message {
  height: 40px;

}

@media screen and (orientation: landscape) and (min-device-width: 368px) and (max-device-width: 1370px) {
  .data-table {
    width: 100%;
  }
}

.data-table td {
  font-size: 14px;
}

.pagination button {
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #e11d48;
  font-size: 18px;
  padding: 10px;
  font-weight: 600;
}

.pagination span {
  color: black;
  font-size: 22px;
}

.pagination {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}

/* signup css */
.main-form {
  margin: 120px auto;
}

.form-container h2 {
  padding: 10px;
  text-align: center;
  font-size: 32px;
}

.form-field {
  margin-bottom: 15px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 450;
}

.form-field input {
  width: 100%;

  padding: 8px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 17px;
}

.error-message {
  color: #fff;
  font-size: 17px;
  margin-top: 5px;
}

.submit-button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 5px;
}

.submit-button:hover {
  background-color: white;
  color: #5e72e4;
}

.main-form {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-page {
  margin-top: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: 450;
}

.s-page:hover {
  text-decoration: underline;
}

.s-page span {
  /* color: #000000; */
  text-decoration: underline;
}

.logout {
  height: max-content;
  width: 100px;
  background-color: #e11d48;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
}

.pagination-1 {
  position: fixed;
  bottom: 10%;
  right: 10%;
}

.css-w7jooe {
  width: 70% !important;
}

.center_image {
  text-align: center;
}

.user_images_div_getData {
  border: 1px solid rgb(230, 229, 229);
  display: flex !important;
  justify-content: flex-start !important;
  margin-left: -1px !important;
  border-radius: 5px;
  flex-wrap: wrap !important;
}

.user_images_div_getData img {
  width: 70px !important;
  margin: 5px;
  height: 70px !important;
  border: 1px solid #e11d48;
  transition: transform 0.3s ease-in-out;
  /* Smooth transition for the zoom effect */
}

.user_images_div_getData_aadharImg {
  border: 1px solid rgb(230, 229, 229);
  display: flex !important;
  justify-content: flex-start !important;
  margin-left: -1px !important;
  border-radius: 5px;
  flex-wrap: wrap !important;
}

.user_images_div_getData_aadharImg img {
  width: auto !important;
  margin: 5px;
  height: 70px !important;
  border: 1px solid #e11d48;
  transition: transform 0.3s ease-in-out;
}

.user_images_div_getData_aadharImg img:hover {
  transform: scale(1.7);
}

.user_images_div_getData img:hover {
  transform: scale(1.7);
}

.table-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
}
.guest_entry_main_div {
  width: 95%;
}
.error_login {
  height: 10px;
  margin-top: 0.3rem;
}
.no_data_occassional {
  width: 100%;
  position: relative;
  left: 55vh;
  text-align: center;
  padding: 1rem;
}
.guest_entry_table {
  background-color: white !important;
}
.col-margin_top {
  position: relative;
  top: 90px;
}
#search-input-label {
  color: #5e72e4;
}
.export-dropdown {
  z-index: 1000;
}
.login_title {
  color: white;
}
.label_title {
  color: white;
}
.button_close_guest {
  margin-top: -1rem;
}
.background_image {
  background-image: url("/public/societyimage.jpg");
  background-repeat: no-repeat;

  background-size: 100% 100%;
  height: 100vh;
}

/* From Uiverse.io by Nawsome */
.wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(
    100% 100% at center,
    hsla(0, 0%, 60%, 0) 47.8%,
    hsl(0, 0%, 60%) 48%
  );
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em, 1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30, 90%, 80%) inset,
    0.75em -1.55em 0 hsl(30, 90%, 90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30, 90%, 55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0, 0%, 0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0, 90%, 75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30, 90%, 55%) inset,
    0.15em -0.5em 0 hsl(30, 90%, 80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 80%) 80%, hsl(0, 90%, 75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 90%) 80%, hsl(0, 90%, 85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 30%,
    70% 90%,
    70% 100%,
    30% 100%,
    40% 90%,
    0% 30%
  );
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 80%) 90%, hsl(0, 90%, 75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 90%) 90%, hsl(0, 90%, 85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0, 90%, 75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(
      100% 100% at center,
      hsl(0, 0%, 60%) 4.8%,
      hsla(0, 0%, 60%, 0) 5%
    ),
    linear-gradient(
        hsla(0, 0%, 55%, 0) 46.9%,
        hsl(0, 0%, 65%) 47% 52.9%,
        hsla(0, 0%, 65%, 0) 53%
      )
      50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
  from,
  to {
    transform: rotate(4deg) translate(-0.8em, 1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em, 1.85em);
  }
}

@keyframes hamsterHead {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from,
  90%,
  to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-30deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(20deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}
.loading_page_guard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e8e8e8;
}
.togglePasswordVisibilityLoginPage {
  width: 5%;
  position: absolute;
  cursor: pointer;
  top: -117px;
  right: 0px;
}
.eyebuttonLogin {
  color: black;
}
.togglePasswordVisibilityLoginPageMainDiv {
  position: relative;
  top: 0px;
}


