.sidebar {
    /* min-height: calc(100vh - 70px), */
    /* position: fixed; */
    /* min-height: calc(100vh - 70px);
    top: 0;
    left: 0;
    height: 100%;
    width: 244px; /* Adjust width as needed */
    background-color: #191c24; */
    transform: translateX(-100%); /* Start off-screen */
    /* transition: transform 0.3s ease; /* Smooth slide-in/out */
    /* z-index: 11; */ 
  }
  .sidebar.open {
    transform: translateX(0); /* Fully visible */
  }
  